/**
*
* Import fonts
*
**/

$font-roboto-slab: 'Roboto Slab', serif;
$font-open-sans: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$font-title: $font-roboto-slab;
$font-primary: $font-open-sans;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-bolder: 600;