.about {
	background-color: $colour-navy;
	font-size: 0;
}

.about__title {
	@include font-size(24);
    @include line-height(22);
    font-family: $font-title;
    font-weight: $font-weight-normal;
	color: $colour-black;
	margin-bottom: 20px;
	text-transform: uppercase;

	 color: $colour-white;
	 display: none;
}

/* About bullet points section */

.about__brief {
	background-color: $colour-navy;
	color: $colour-white;
	padding: 35px 25px 10px;
	vertical-align: middle;
    text-align: left;

    @include media('>=tablet') {
        padding: 50px 25px 25px;
    }

	@include media('>=desktop') {
		display: inline-block;
		width: 35%;
		padding: 20px 25px 0;


		position: relative;
		text-align: right;
		width: 40%;
		padding: 105px 25px 0;
		vertical-align: top;
	}
}

.about__keypoint {
	@include font-size(16);
    @include line-height(22);
    margin-bottom: 30px;

 //    @include media('>=400px') {
	// 	@include font-size(18);
 //    	@include line-height(24);
 //    }

 //    @include media('>=500px') {
 //    	@include font-size(20);
 //    	@include line-height(27);
 //    }
 //    @include media('>=tablet') {
 //    	@include font-size(22);
 //    	@include line-height(29);
 //    }
	// @include media('>=desktop') {
	// 	@include font-size(18);
 //    	@include line-height(27);
	// }
}

.about__bullet {
	@include font-size(20);
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	height: 30px;
    width: 23px;
	stroke: white;
    fill: none;
}

.about__bullet-text {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 40px);
	font-weight: $font-weight-normal;
}

/* About bio */

.about__bio {
	// background-color: $colour-light-grey;
	// background-color: $colour-white;
	background-color: $colour-navy;
	padding: 35px 25px 25px;
    // color: $colour-black;
    color: $colour-white;

    @include media('>=tablet') {
        padding: 50px 25px 25px;
    }

    @include media('>=desktop') {
		display: inline-block;
		width: 65%;
		vertical-align: middle;
	    padding: 70px 70px 45px;



		vertical-align: top;
	    width: 60%;
	    padding: 105px 70px 85px 45px;
    }
    @include media('>=1700px') {
    	padding: 90px 40px 75px;
    }
}

.about__intro {
	@include font-size(16);
    @include line-height(22);
	margin-bottom: $vertical-rhythm;

	// @include media('>=400px') {
	// 	@include font-size(18);
 //    	@include line-height(24);
 //    }
 //    @include media('>=500px') {
	// 	@include font-size(19);
 //    	@include line-height(26);
 //    }
	// @include media('>=tablet') {
	// 	@include font-size(20);
 //    	@include line-height(27);
	// }
	// @include media('>=desktop') {
	// 	@include font-size(19);
 //    	@include line-height(26);
	// }

	width: 80%;
}




.about-test {
	font-family: $font-title;
	font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: right;
    vertical-align: top;
    width: 70%;
    position: absolute;
    right: 0;
}