.nav {
	background: $colour-black;
	font-family: $font-primary;
	padding: $vertical-rhythm 0;
	text-align: center;

	@include media('>=tablet') {
		text-align: right;
	}
}

.nav__item {
	display: inline-block;
    padding: 0 9px;
    @include font-size(15);
    @include line-height(19);

	@include media('>=430px') {
		@include font-size(15);
    	@include line-height(19);
    	padding: 0 20px;
	}
	@include media('>=500px') {
		@include font-size(18);
    	@include line-height(25);
	}
	@include media('>=1500px') {
		@include font-size(20);
    	@include line-height(27);
	}
}

.nav__link {
	color: $colour-white;
	text-decoration: none;
	border-bottom: 2px solid $colour-black;
	transition: border-bottom 0.15s ease-in;
	&:hover {
		border-bottom: 2px solid $colour-white;
	}
}

.nav__logo-holder {
    position: absolute;
    z-index: 40;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 150px solid transparent;
    border-left: 300px solid #005689;
}

.nav__icon {
	fill: none;
    stroke: white;
    width: 120px;
    /* border: 1px solid white; */
    left: 20px;
    position: absolute;
    height: 118px;
    top: -5px;
    z-index: 10000;
}

