.testimonials {
	position: relative;
	background-color: $colour-white;
	padding: 60px 25px 15px;
	font-size: 0;

	@include media('>=tablet') {
		padding: 90px 25px 60px;
	}
	@include media('>=desktop') {
		padding: 100px 25px 80px;
	}
	@include media('>=1500px') {
		padding: 100px 25px 85px;
	}
}

.testimonials__title {
	@include font-size(38);
	@include line-height(42);
	padding: 0 25px;
	text-align: center;
	font-family: $font-title;
	font-weight: $font-weight-normal;
	color: $colour-real-black;
	margin: 0 auto 20px;

	@include media('>=400px') {
		@include font-size(40);
		@include line-height(50);
	}

	@include media('>=desktop') {
		margin-bottom: 15px;
	}
	
	@include media('>=1500px') {
		@include font-size(50);
		@include line-height(60);
	}	
}

.testimonials__intro {
	@include font-size(16);
	@include line-height(23);
	color: $colour-real-black;
	max-width: 500px;
	margin: 0 auto 20px;
	text-align: center;

	@include media('>=500px') {
		@include font-size(19);
		@include line-height(24);
		margin: 0 auto 40px;
	}
}

.testimonial {
	@include font-size(15);
	@include line-height(22);
	margin-bottom: 30px;
	padding: 25px 0 0;
	text-align: center;
	background-color: $colour-white;
	color: $colour-real-black;

	@include media('>=400px') {
		padding: 25px;
	}

	@include media(">=tablet") {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		margin-bottom: 15px;
	}

	@include media(">=1220px") {
		width: 33.333333%;
	}
}

.testimonial__wrapper {
	max-width: 535px;
	margin: -40px auto 0;
	border-bottom: 1px solid #efefef;
	padding-bottom: 45px;
	padding: 55px 25px 35px;
	background-color: $colour-light-grey;
	border-radius: 20px;
	filter: drop-shadow(rgba(0, 0, 0, 0.1) 2px 2px 5px);

	@include media(">=500px") {
		padding: 55px 35px 35px;
	}
}

.testimonial__flag-wrapper {
	display: inline-block;	
	margin: 0 auto;
	position: relative;
}

.testimonial__flag {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	position: relative;
	z-index: $z-index-level-2;
	border: 2px solid $colour-black;
	filter: drop-shadow(rgba(60, 85, 109, 0.2) 0px 3px 5px);
}

.testimonial__pulse {
    height: 110px;
    width: 110px;
	animation: pulse 4s ease-out;
    animation-iteration-count: infinite;
    position: absolute;
    top: -20px;
    left: -20px;
    opacity: 0;
    z-index: $z-index-level-1;
    border: 20px solid $colour-white;
    border-radius: 120px;
    background: $colour-white;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
}

.testimonial__headline {
	@include font-size(16);
	@include line-height(34);
	display: inline-block;
	font-family: $font-title;
	margin-bottom: 20px;
	color: $colour-white;
	padding: 0;

	@include media(">=1700px") {
		@include font-size(25);
		@include line-height(35);
	}
}

.testimonial__highlight {
    display: inline;
    padding: 1rem;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 15px 0 0 $colour-navy, -15px 0 0 $colour-navy;
	box-decoration-break: clone;
	background: $colour-navy;
    color: $colour-white; 
}

.testimonial__quote {
	margin-bottom: 25px;
}

.testimonial__source {
	color: $colour-real-black;
	font-family: $font-title;
	font-weight: $font-weight-bold;
}

.testimonial__job {
	margin-bottom: 5px;
	color: $colour-orange;
	font-family: $font-title;
	font-weight: $font-weight-bold;
}

.testimonial__company {
	color: $colour-real-black;
}

@keyframes pulse {
	0% {
	    transform: scale(0);
	    opacity: 0.0;
	}
	25% {
	    transform: scale(0);
	    opacity: 0.4;
	}
	50% {
	    transform: scale(0.4);
	    opacity: 0.7;
	}
	75% {
	    transform: scale(0.7);
	    opacity: 0.9;
	}
	100% {
	    transform: scale(1);
	    opacity: 0.0;
	}
}